@import "_var";

footer {
    font-family: $main-font-2;
    text-transform: uppercase;
    border-top: 1px solid black;
}

.footer-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 86px;

    & a {
        text-decoration: none;
        color: inherit;
    }
}

// Deactivate the click on the "ALL RIGHTS RESERVED" link and make it a text mention
#menu-item-36 {
    pointer-events: none;
}

@media screen and (max-width: 767.98px) {

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 24px;
    }
}