@import "_var";

.logo {
    width: 40%;
}

.nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 45px;

    & a {
        text-decoration: none;
        color: inherit;
        font-family: $main-font-1;
        text-transform: uppercase;
    }
}

.navigation {
    & a:hover {
        font-weight: 700;
    }
}