.hero-section {
    height: 100vh;

    .hero {

        & .hero-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            font-family: $main-font-2;
            font-style: italic;
            font-weight: 100;
            font-size: 96px;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 1px white;

        }
    }
}

.photo-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 10%;

    & .photo-wrapper {
        width: calc(50% - 10px);
        height: 52vh;
    }
}

.load-more {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    & .load-more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        width: 28.5vh;
        height: 5vh;
        cursor: pointer;
        font-family: $main-font-2;
        font-size: 12px;
        border-radius: 2px;
        background: #D8D8D8;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
        transition: background-color 300ms, color 300ms;
    }

    & .load-more-button:hover {
        background-color: black;
        color: white;
        animation: fadeIn 300ms ease-out;
    }
}

@media screen and (max-width: 767.98px) {

    .hero-section {
        height: 30vh !important;

        .hero {

            & .hero-title {
                display: block;
                font-size: 28px;
                font-weight: 700;
                top: 21%;
                -webkit-text-stroke-width: 0.1px;
            }

            & img {
                height: 30vh !important;
            }
        }
    }

    .photo-list {
        & .photo-wrapper {
            width: 100%;
            height: 33vh;
        }
    }

    .load-more {
        margin-top: -20px;
        margin-bottom: 22px;
    }

}