/* Modal Content/Box */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  /* w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 5px solid #000;
  width: 45%;
}

.modal-img {
  background-image: url('http://localhost/motaphoto/wp-content/themes/motaphoto/assets/images/contact-header.png');
  background-position: center;
  background-size: cover;
  height: 110px;
  margin-top: 18px;
  margin-bottom: 45px;
}

.wpcf7 {
  display: flex;
  justify-content: center;
  font-family: $main-font-1;

  & .wpcf7-form-control {
    border-radius: 8px;
    border: 1px solid #B8BBC2;
  }

  & .wpcf7-text {
    height: 40px;
    margin-bottom: 24px;
  }

  & .wpcf7-textarea {
    height: 210px;
  }
}

input.wpcf7-form-control.wpcf7-submit {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
  padding: 8px 15px;
  height: 50px;
  font-family: $main-font-2;
  background-color: #D8D8D8;
}

.modal-fade-in {
  animation: fadeIn 0.5s both ease-in-out;
}

.modal-fade-out {
  animation: fadeOut 0.5s both ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@media screen and (max-width: 767.98px) {

.modal {
  animation: slideRightToLeft 0.5s ease-in-out;
}  

.modal-content {
  width: 70%;
  margin: 0 auto;
}

.modal-img {
  height: 55px;
  margin-top: 18px;
  margin-bottom: 14px;
}

.wpcf7 {
  & .wpcf7-text {
    width: 190px;
    margin-bottom: 14px;
  }

  & .wpcf7-textarea {
    width: 190px;
    height: 149px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    margin: 0px;
  }
}

input.wpcf7-form-control.wpcf7-submit {
  margin-top: 19px;
  width: 190px;
}

}