.post-photo-content {
  display: flex;
  align-items: flex-end;
  padding: 2.5% 10% 0% 10%;

  & .post-col-left {
    width: 50%;

    & h2 {
      font-family: $main-font-2;
      font-size: 66px;
      font-weight: 400;
      font-style: italic;
      text-transform: uppercase;
      line-height: 58px;
      max-width: 70%;
      margin: 0px;
    }

    & .post-desc {
      font-family: $main-font-2;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      padding-bottom: 37px;

      & .single-photo-desc {
        margin-top: 20px;
      }
    }
  }

  & .post-col-right {
    width: 50%;
    display: flex;

    & .wp-post-image {
      width: 100%;
    }
  }
}

.post-content-contact {
  display: flex;
  align-items: center;
  height: 118px;
  margin: 0 10% 0 10%;
  margin-bottom: 77px;
  border-bottom: 1px solid black;

  & .post-col-left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 3%;
    border-top: 1px solid black;

    & p {
      font-size: 14px;
      font-weight: 300;
      width: 50%;
    }

    & button {
      width: 50%;
      height: 5vh;
      cursor: pointer;
      font-family: $main-font-2;
      font-size: 12px;
      border-radius: 2px;
      border: 0;
      padding: 8px 15px;
      background: $medium-grey;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);

      &:hover {
        background-color: black;
        color: white;
        animation: fadeIn 300ms ease-out;
      }
    }
  }

  & .post-col-right {
    width: 50%;
    height: 100%;
  }
}

.thumbnail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  & .previous-image,
  .next-image {
    position: absolute;
    top: 0;
    padding-top: 8px;
    z-index: 1;
    opacity: 0;
    transition: all 200ms ease-out;
  }

  & a {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
  }

  & .link-previous-arrow {
    right: 55px;

    &:hover+.previous-image {
      z-index: 2;
      opacity: 1;
    }
  }

  & .link-next-arrow {
    &:hover+.next-image {
      z-index: 2;
      opacity: 1;
    }
  }
}

.photo-block {
  padding: 0% 10%;
  margin-bottom: 64px;

  & h3 {
    display: flex;
    justify-content: center;
    font-family: $main-font-2;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  & .related-photo {
    display: flex;
    margin-top: 52px;
    margin-bottom: 53px;
    gap: 20px;

    & .related-photo-container {
      width: 50%;
    }
  }

  & .div-post-contact-button {
    display: flex;
    justify-content: center;

    & button {
      width: 28.5vh;
      height: 5vh;
      cursor: pointer;
      font-family: $main-font-2;
      font-size: 12px;
      border-radius: 2px;
      border: 0;
      padding: 8px 15px;
      background: $medium-grey;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);

      &:hover {
        background-color: black;
        color: white;
        animation: fadeIn 300ms ease-out;
      }
    }

  }
}

.related-photo-container {
  height: 52vh;
}

@media screen and (max-width: 479.98px) {
  .photo-block {
    & .related-photo {
      & .related-photo-container {
        height: 33vh !important;
      }
    }
  }

  .post-photo-content {
    flex-direction: column-reverse;

    & .post-col-right {
      width: 100%;
    }

    & .post-col-left {
      width: 100%;
      margin-top: 20px;

      & h2 {
        font-size: 46px;
        line-height: 48px;
      }
    }
  }

  .post-content-contact {
    height: auto;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;

    .post-col-right {
      display: none;
    }

    & .post-col-left {
      width: 100%;
      flex-direction: column;
      padding: 0% 10%;

      & p {
        width: 100%;
      }

      & button {
        width: 100%;
        margin-bottom: 20px;
        height: 6vh;
      }
    }
  }

  .photo-block {
    margin-bottom: 0;

    & .related-photo {
      margin-top: 25px;
      margin-bottom: 25px;
      flex-direction: column;
      height: 100%;

      & .related-photo-container {
        width: 100%;
        height: 51vh;
      }
    }

    & .div-post-contact-button {
      button {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .post-photo-content {
    flex-direction: column-reverse;

    & .post-col-right {
      width: 100%;
    }

    & .post-col-left {
      width: 100%;
      margin-top: 20px;

      & h2 {
        font-size: 46px;
        line-height: 48px;
      }
    }
  }

  .post-content-contact {
    height: auto;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;

    .post-col-right {
      display: none;
    }

    & .post-col-left {
      width: 100%;
      flex-direction: column;
      padding: 0% 10%;

      & p {
        width: 100%;
      }

      & button {
        width: 100%;
        margin-bottom: 20px;
        height: 6vh;
      }
    }
  }

  .photo-block {
    margin-bottom: 0;

    & .related-photo {
      margin-top: 25px;
      margin-bottom: 25px;
      flex-direction: column;
      height: 100%;

      & .related-photo-container {
        width: 100%;
        height: 51vh;
      }
    }

    & .div-post-contact-button {
      button {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 999.98px) {
  .post-photo-content {
    flex-direction: column-reverse;

    & .post-col-right {
      width: 100%;
    }

    & .post-col-left {
      width: 100%;
      margin-top: 20px;

      & h2 {
        font-size: 46px;
        line-height: 48px;
      }
    }
  }

  .post-content-contact {
    height: auto;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;

    .post-col-right {
      display: none;
    }

    & .post-col-left {
      width: 100%;
      flex-direction: column;
      padding: 0% 10%;

      & p {
        width: 100%;
      }

      & button {
        width: 100%;
        margin-bottom: 20px;
        height: 6vh;
      }
    }
  }

  .photo-block {
    margin-bottom: 0;

    & .related-photo {
      margin-top: 25px;
      margin-bottom: 25px;
      flex-direction: column;
      height: 100%;

      & .related-photo-container {
        width: 100%;
        height: 72vh;
      }
    }

    & .div-post-contact-button {
      button {
        display: none;
      }
    }
  }
}