// Colors 
$primary-red: #E00000;
$secondary-red: #FE5858;
$tertiary-red: #FFD6D6;
$dark-blue: #313144;
$dark-grey: #C4C4C4;
$medium-grey: #D8D8D8;
$light-grey: #E5E5E5;

// Fonts 
$main-font-1: 'Poppins', sans-serif;
$main-font-2: 'Space Mono', monospace;

@font-face {
    font-family: 'Space Mono';
    src: url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Regular.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Bold.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-BoldItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins';
    src: url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Regular.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Bold.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Black.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Italic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Light.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Medium.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-MediumItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Thin.ttf') format('truetype'),
        url('http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ThinItalic.ttf') format('truetype'),
}