@import "_var";

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: $main-font-1;
}

@import "_header";
@import "_footer";
@import "_modal-contact";
@import "_single-photo";
@import "_home-page";