body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

header {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
}

.logo {
  width: 40%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 45px;
}
.nav-menu a {
  text-decoration: none;
  color: inherit;
}

.navigation a:hover {
  font-weight: 700;
}

.mobile-content {
  display: none;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .navigation {
    display: none;
  }
  .mobile-content {
    display: flex;
  }
  .mobile-content .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  .mobile-content .menu-toggle .line {
    display: inline-block;
    width: 80%;
    height: 2px;
    background-color: black;
    transform-origin: 1px 0px !important;
    transition: transform 0.8s, opacity 0.2s ease;
  }
  .mobile-content .menu-toggle .line:first-child {
    transform-origin: 0% 0% !important;
  }
  .mobile-content .menu-toggle .line:nth-last-child(2) {
    transform-origin: 0% 100% !important;
  }
  .nav-container-toggle {
    animation: slideRightToLeft 0.5s ease-in-out;
  }
  .nav-wrapper {
    height: 72px;
  }
  .nav-wrapper .logo {
    width: 60%;
  }
  .show-mobile-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #E00000;
    animation: slideRightToLeft 0.5s ease-in-out;
  }
  .show-mobile-links .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 44px;
    text-transform: uppercase;
    list-style: none;
    gap: 18px;
    margin: 50% auto;
    padding-left: 0px;
  }
  .show-mobile-links .menu-mobile a {
    font-family: "Space Mono", monospace;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
  }
  .first-line-anim {
    transform: rotate(45deg) translateY(0px) translateX(6px);
    opacity: 1;
  }
  .second-line-anim {
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }
  .third-line-anim {
    transform: rotate(-45deg) translate(1px, 2px);
  }
  @keyframes slideRightToLeft {
    from {
      transform: translateX(1000px);
    }
    to {
      transform: translateX(0px);
    }
  }
}
footer {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  border-top: 1px solid black;
}

.footer-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 86px;
}
.footer-menu a {
  text-decoration: none;
  color: inherit;
}

#menu-item-36 {
  pointer-events: none;
}

@media screen and (max-width: 767.98px) {
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 24px;
  }
}
/* Modal Content/Box */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  /* w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 5px solid #000;
  width: 45%;
}

.modal-img {
  background-image: url("http://localhost/motaphoto/wp-content/themes/motaphoto/assets/images/contact-header.png");
  background-position: center;
  background-size: cover;
  height: 110px;
  margin-top: 18px;
  margin-bottom: 45px;
}

.wpcf7 {
  display: flex;
  justify-content: center;
}
.wpcf7 .wpcf7-form-control {
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}
.wpcf7 .wpcf7-text {
  height: 40px;
  margin-bottom: 24px;
}
.wpcf7 .wpcf7-textarea {
  height: 210px;
}

input.wpcf7-form-control.wpcf7-submit {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
  padding: 8px 15px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  background-color: #D8D8D8;
}

.modal-fade-in {
  animation: fadeIn 0.5s both ease-in-out;
}

.modal-fade-out {
  animation: fadeOut 0.5s both ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}