@font-face {
  font-family: "Space Mono";
  src: url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Regular.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Bold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-BoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Regular.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Bold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Black.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BlackItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLight.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLightItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Italic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Light.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-LightItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Medium.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-MediumItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Thin.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ThinItalic.ttf") format("truetype");
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Space Mono";
  src: url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Regular.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Bold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-BoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Regular.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Bold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Black.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BlackItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLight.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLightItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Italic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Light.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-LightItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Medium.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-MediumItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Thin.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ThinItalic.ttf") format("truetype");
}
header {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

.logo {
  width: 40%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 45px;
}
.nav-menu a {
  text-decoration: none;
  color: inherit;
}

.navigation a:hover {
  font-weight: 700;
}

.mobile-content {
  display: none;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .navigation {
    display: none;
  }
  .mobile-content {
    display: flex;
  }
  .mobile-content .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  .mobile-content .menu-toggle .line {
    display: inline-block;
    width: 80%;
    height: 2px;
    background-color: black;
    transform-origin: 1px 0px !important;
    transition: transform 0.8s, opacity 0.2s ease;
  }
  .mobile-content .menu-toggle .line:first-child {
    transform-origin: 0% 0% !important;
  }
  .mobile-content .menu-toggle .line:nth-last-child(2) {
    transform-origin: 0% 100% !important;
  }
  .nav-container-toggle {
    animation: slideRightToLeft 0.5s ease-in-out;
  }
  .nav-wrapper {
    height: 72px;
  }
  .nav-wrapper .logo {
    width: 60%;
  }
  .show-mobile-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #E00000;
    animation: slideRightToLeft 0.5s ease-in-out;
  }
  .show-mobile-links .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 44px;
    text-transform: uppercase;
    list-style: none;
    gap: 18px;
    margin: 50% auto;
    padding-left: 0px;
  }
  .show-mobile-links .menu-mobile a {
    font-family: "Space Mono", monospace;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
  }
  .first-line-anim {
    transform: rotate(45deg) translateY(0px) translateX(6px);
    opacity: 1;
  }
  .second-line-anim {
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }
  .third-line-anim {
    transform: rotate(-45deg) translate(1px, 2px);
  }
  @keyframes slideRightToLeft {
    from {
      transform: translateX(1000px);
    }
    to {
      transform: translateX(0px);
    }
  }
  @keyframes slideLeftToRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(1000px);
    }
  }
  .modal-slideLeftToRight {
    animation: slideLeftToRight 0.5s ease-in-out;
  }
}
@font-face {
  font-family: "Space Mono";
  src: url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Regular.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Bold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-BoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Regular.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Bold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Black.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-BlackItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLight.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ExtraLightItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Italic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Light.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-LightItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Medium.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-MediumItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBold.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-SemiBoldItalic.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-Thin.ttf") format("truetype"), url("http://localhost/motaphoto/wp-content/themes/motaphoto/fonts/Poppins-ThinItalic.ttf") format("truetype");
}
footer {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  border-top: 1px solid black;
}

.footer-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 86px;
}
.footer-menu a {
  text-decoration: none;
  color: inherit;
}

#menu-item-36 {
  pointer-events: none;
}

@media screen and (max-width: 767.98px) {
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 24px;
  }
}
/* Modal Content/Box */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  /* w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 5px solid #000;
  width: 45%;
}

.modal-img {
  background-image: url("http://localhost/motaphoto/wp-content/themes/motaphoto/assets/images/contact-header.png");
  background-position: center;
  background-size: cover;
  height: 110px;
  margin-top: 18px;
  margin-bottom: 45px;
}

.wpcf7 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.wpcf7 .wpcf7-form-control {
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}
.wpcf7 .wpcf7-text {
  height: 40px;
  margin-bottom: 24px;
}
.wpcf7 .wpcf7-textarea {
  height: 210px;
}

input.wpcf7-form-control.wpcf7-submit {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
  padding: 8px 15px;
  height: 50px;
  font-family: "Space Mono", monospace;
  background-color: #D8D8D8;
}

.modal-fade-in {
  animation: fadeIn 0.5s both ease-in-out;
}

.modal-fade-out {
  animation: fadeOut 0.5s both ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .modal {
    animation: slideRightToLeft 0.5s ease-in-out;
  }
  .modal-content {
    width: 70%;
    margin: 0 auto;
  }
  .modal-img {
    height: 55px;
    margin-top: 18px;
    margin-bottom: 14px;
  }
  .wpcf7 .wpcf7-text {
    width: 190px;
    margin-bottom: 14px;
  }
  .wpcf7 .wpcf7-textarea {
    width: 190px;
    height: 149px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form p {
    margin: 0px;
  }
  input.wpcf7-form-control.wpcf7-submit {
    margin-top: 19px;
    width: 190px;
  }
}
.post-photo-content {
  display: flex;
  align-items: flex-end;
  padding: 2.5% 10% 0% 10%;
}
.post-photo-content .post-col-left {
  width: 50%;
}
.post-photo-content .post-col-left h2 {
  font-family: "Space Mono", monospace;
  font-size: 66px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  line-height: 58px;
  max-width: 70%;
  margin: 0px;
}
.post-photo-content .post-col-left .post-desc {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-bottom: 37px;
}
.post-photo-content .post-col-left .post-desc .single-photo-desc {
  margin-top: 20px;
}
.post-photo-content .post-col-right {
  width: 50%;
  display: flex;
}
.post-photo-content .post-col-right .wp-post-image {
  width: 100%;
}

.post-content-contact {
  display: flex;
  align-items: center;
  height: 118px;
  margin: 0 10% 0 10%;
  margin-bottom: 77px;
  border-bottom: 1px solid black;
}
.post-content-contact .post-col-left {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-right: 3%;
  border-top: 1px solid black;
}
.post-content-contact .post-col-left p {
  font-size: 14px;
  font-weight: 300;
  width: 50%;
}
.post-content-contact .post-col-left button {
  width: 50%;
  height: 5vh;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  border-radius: 2px;
  border: 0;
  padding: 8px 15px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}
.post-content-contact .post-col-right {
  width: 50%;
  height: 100%;
}

.thumbnail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.thumbnail-container .previous-image,
.thumbnail-container .next-image {
  position: absolute;
  top: 0;
  padding-top: 8px;
  z-index: 1;
  opacity: 0;
  transition: all 200ms ease-out;
}
.thumbnail-container a {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
}
.thumbnail-container .link-previous-arrow {
  right: 55px;
}
.thumbnail-container .link-previous-arrow:hover + .previous-image {
  z-index: 2;
  opacity: 1;
}
.thumbnail-container .link-next-arrow:hover + .next-image {
  z-index: 2;
  opacity: 1;
}

.photo-block {
  padding: 0% 10%;
  margin-bottom: 64px;
}
.photo-block h3 {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.photo-block .related-photo {
  display: flex;
  height: 50vh;
  margin-top: 52px;
  margin-bottom: 53px;
  gap: 20px;
}
.photo-block .related-photo .related-photo-container {
  width: 50%;
}
.photo-block .div-post-contact-button {
  display: flex;
  justify-content: center;
}
.photo-block .div-post-contact-button button {
  width: 28.5vh;
  height: 5vh;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  border-radius: 2px;
  border: 0;
  padding: 8px 15px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 767.98px) {
  .post-photo-content {
    flex-direction: column-reverse;
  }
  .post-photo-content .post-col-right {
    width: 100%;
  }
  .post-photo-content .post-col-left {
    width: 100%;
    margin-top: 20px;
  }
  .post-photo-content .post-col-left h2 {
    font-size: 46px;
    line-height: 48px;
  }
  .post-content-contact {
    height: auto;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
  .post-content-contact .post-col-right {
    display: none;
  }
  .post-content-contact .post-col-left {
    width: 100%;
    flex-direction: column;
    padding: 0% 10%;
  }
  .post-content-contact .post-col-left p {
    width: 100%;
  }
  .post-content-contact .post-col-left button {
    width: 100%;
    margin-bottom: 20px;
    height: 6vh;
  }
  .photo-block {
    margin-bottom: 0;
  }
  .photo-block .related-photo {
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
    height: 100%;
  }
  .photo-block .related-photo .related-photo-container {
    width: 100%;
    height: 85vw;
  }
  .photo-block .div-post-contact-button button {
    display: none;
  }
}
.hero-section {
  height: 100vh;
}
.hero-section .hero .hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.1px white;
}

.photo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 10%;
}
.photo-list .photo-wrapper {
  width: calc(50% - 10px);
  height: 52vh;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.load-more .load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 28.5vh;
  height: 5vh;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 767.98px) {
  .hero-section {
    height: 50vh !important;
  }
  .hero-section .hero .hero-title {
    font-size: 28px;
    top: 30%;
    -webkit-text-stroke-width: 0.1px;
  }
  .hero-section .hero img {
    height: 50vh !important;
  }
  .photo-list .photo-wrapper {
    width: 100%;
  }
}